<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Entities.Properties.Settings.CodeTestConnectionString"
            connectionString="Data Source=THIDARAYE\SQLEXPRESS;Initial Catalog=CodeTest;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>